.smileys-box span.smiley {
  display: inline-block;
  width: 51px;
  height: 51px;
  text-align: center;
}

.smileys-box span.smiley img {
  cursor: pointer;
}

.smileys-field-smileys-select .vertical-tabs {
  display: flex;
  margin: 0;
}

.smileys-field-smileys-select .vertical-tabs .vertical-tabs__menu {
  float: unset;
  width: unset;
  margin: 0;
}

.smileys-field-smileys-select .vertical-tabs .vertical-tabs__panes {
  width: 100%;
  margin-left: 0;
}

.smileys-field-smileys-select
  .vertical-tabs
  .vertical-tabs__panes
  emoji-picker {
  width: 100%;
}
