.smiley-selected {
  font-size: 0;
}

.smiley-selected::before {
  display: block;
  width: 17px;
  height: 17px;
  content: "";
  background: url("../images/smileys-selected.png");
}

.smiley-middle {
  font-size: 0;
}

.smiley-middle::before {
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background: url("../images/smileys-middle.png");
}

.smiley-deselected {
  font-size: 0;
}

.smiley-deselected::before {
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background: url("../images/smileys-deselected.png");
}
